<!DOCTYPE html>
<html>

<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <style>
      body {
         font-family: Arial;
      }

      * {
         box-sizing: border-box;
      }

      .dot {
         height: 12px;
         width: 12px;
         background-color: #bbb;
         border-radius: 50%;
         display: inline-block;
      }

      .container {
         border: 3px solid #f1f1f1;
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
      }

      .top {
         padding: 10px;
         background: #f1f1f1;
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
      }

      .content {
         padding: 10px;
      }

      form {
         border: 3px solid #f1f1f1;
         font-family: Arial;
      }

      .container {
         padding: 20px;
         background-color: #f1f1f1;
      }

      input[type=submit],
      input[type=text] {
         width: 100%;
         padding: 12px 20px;
         margin: 8px 0;
         display: inline-block;
         border: 1px solid #ccc;
         box-sizing: border-box;
      }

      input[type=checkbox] {
         margin-top: 16px;
      }

      input[type=submit] {
         background-color: #4CAF50;
         color: white;
         border: none;
      }

      input[type=submit]:hover {
         opacity: 0.8;
      }

      * {
         box-sizing: border-box;
      }

      /* The browser window */

      .container {
         border: 3px solid #f1f1f1;
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
      }

      /* Container for columns and the top "toolbar" */

      .row {
         padding: 10px;
         background: #f1f1f1;
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
      }

      /* Create three unequal columns that floats next to each other */

      .column {
         float: left;
      }

      .left {
         width: 15%;
      }

      .right {
         width: 10%;
      }

      .middle {
         width: 75%;
      }

      /* Clear floats after the columns */

      .row:after {
         content: "";
         display: table;
         clear: both;
      }

      /* Three dots */

      .dot {
         margin-top: 4px;
         height: 12px;
         width: 12px;
         background-color: #bbb;
         border-radius: 50%;
         display: inline-block;
      }

      /* Style the input field */

      input[type=text] {
         width: 100%;
         border-radius: 3px;
         border: none;
         background-color: white;
         margin-top: -8px;
         height: 25px;
         color: #666;
         padding: 5px;
      }

      /* Three bars (hamburger menu) */

      .bar {
         width: 17px;
         height: 3px;
         background-color: #aaa;
         margin: 3px 0;
         display: block;
      }

      /* Page content */

      .content {
         padding: 10px;
      }
   </style>
</head>

<body>

   <form action="/" method="post">
      <div class="container">
         <h2>Weather Application</h2>
         <h4>Enter anywhere address you want to get its weather information...</h4>
         <p><br/>You can try country, city, street or even alley name<br/>For example try: "tehran", "tehran, evin", or even "vanak" </p>
      </div>

      <div class="container" style="background-color: #f1f1f1">
         <input type="text" placeholder="type address here" id="address" name="address" required="required">
      </div>

      <div class="container">
         <input type="submit" value="Submit" >
      </div>
   </form>
   <div class="container">
      <div class="row">
         <div class="column left">
            <span class="dot" style="background:#ED594A;"></span>
            <span class="dot" style="background:#FDD800;"></span>
            <span class="dot" style="background:#5AC05A;"></span>
         </div>
         <div class="column middle">
            <input type="text" value="{{formatted_address}}" disabled>
         </div>
         <div class="column right">
            <div style="float:right">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
            </div>
         </div>
      </div>

      <div class="content">
         <h3>Result</h3>
         <p>{{temperature}}</p>
      </div>
   </div>

</body>

</html>
